#tableHome{
	width: 99%%;
}

#tableHome tbody:hover{
	background-color: #babdb6;
}

#newItemForm{
	width: 40%;
	background-color: #dddddd;
	margin: auto;
}

#newItemForm fieldset{
	border: none;
	padding: 15px;
}

#newItemForm legend, label{
	font-size: 12px;
}


