<?xml version="1.0"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
        
<hibernate-configuration>
  <session-factory>
  
    <property name="connection.driver_class">
      com.mysql.cj.jdbc.Driver
    </property>
    
    <property name="connection.url">
      jdbc:mysql://localhost:3306/estoque_foro11_dev?publicKeyRetrieval=false&amp;useTimezone=true&amp;serverTimezone=UTC&amp;characterEncoding=utf-8&amp;useUnicode=true
    </property>

    <property name="connection.username">cde_foro11</property>
    <property name="connection.password">Jmu_stm@ceinf1</property>
    
	<property name="show_sql">false</property>
	<property name="format_sql">false</property>

    <property name="dialect">
      org.hibernate.dialect.MySQL57Dialect
    </property>
        
     <property name="hibernate.current_session_context_class">thread</property>   
         
 	 <property name="hibernate.hbm2ddl.auto">update</property>  
	
	
<!--    
  	<property name="hibernate.c3p0.min_size">5</property>
	<property name="hibernate.c3p0.max_size">20</property>
  	<property name="hibernate.c3p0.timeout">300</property>   

-->
    <mapping resource="entity/Item.hbm.xml"/>
    <mapping resource="entity/Packet.hbm.xml"/>
   	<mapping resource="entity/Category.hbm.xml"/>  
   	<mapping resource="entity/SubCategory.hbm.xml"/>
   	<mapping resource="entity/Image.hbm.xml"/>
	<mapping resource="entity/EntryItem.hbm.xml"/>
	<mapping resource="entity/Entry.hbm.xml"/>
	<mapping resource="entity/OrderItem.hbm.xml"/>
	<mapping resource="entity/Order.hbm.xml"/>
	<mapping resource="entity/Locale.hbm.xml"/>
	<mapping resource="entity/Permission.hbm.xml"/>
	<mapping resource="entity/Administrator.hbm.xml"/>
	<mapping resource="entity/Customer.hbm.xml"/>
	<mapping resource="entity/Invoice.hbm.xml"/>
	<mapping resource="entity/Provider.hbm.xml"/>
	
  </session-factory>
</hibernate-configuration>
