body {
	margin: 0px;
}

.fold{
	display: none;
}

.open-fold{
	display: table-row;
}

.open-view{
	background-color: #f37b26;
	color: #ffffff;
}

#tabNewEntry table tbody, .fold{
	background-color: #ffffff;
}

div.fold-content{
	padding-bottom: 30px;	
}

div.fold-content table{
	width: 98%;
	margin: auto;
}

div.fold-content h3{
	text-align: left;
}

div.fold-content thead{
	background-color: black;
	color: #ffffff;
}

.ui-icon-triangle-1-s, .ui-icon-triangle-1-n{
	float: left;
}

#topMenu {
	overflow: hidden;
	background-color: #26c4f3;
	margin: 0;
	height: 40px;
}

div.disableDiv{
	pointer-events: none;
  	opacity: 0.5;
  	background: #CCC;	
}

label {
	font-family: Arial,Helvetica,sans-serif;
}

label.tittle-label {
	font-weight: bold;
}

h1 {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
		"Helvetica Neue", Arial, sans-serif;
}

h2 {
	font-family: 'Google Sans', Roboto, RobotoDraft, Helvetica, Arial,
		sans-serif;
	font-size: 1.375rem;
}

h3{
	text-align: center;
    color: gray;
    margin-top: 100px;
    font-family: Helvetica, Arial, sans-serif;
}

#topMenu .title{
	float: left;
}

#topMenu .title h1 {
	font-size: 14px;
	padding: 2px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	color: white;
}

.loggedUser{
	padding: 10px;
	float: right;
}

#topMenu label {
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	color: white;
	float: right;
}

div#contentMenuBar{
    width: 90%;
    float: right;
    padding: 5px;
    background-color: #ffffff;
}

#search {
	background-position: 10px 12px;
	background-repeat: no-repeat;
	width: 90%;
	font-size: 13px;
	padding: 6px 10px 6px 20px;
	border: 1px solid #ddd;
	margin-bottom: 3px;
	margin-top: 3px;
	text-align: left;
	border-radius: 10px;
	width: 30%;
}

#content {
	height: 85vh;
	width: 91%;
	float: right;
	overflow: auto;
}

#menu {
	width: 8%;
	float: left;
	border: none;
}

a.ui-tabs-anchor{
	font-size: 14px;
}

span, a {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}

span.tittle-span {
	font-weight: bold;
}

#title {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
		"Helvetica Neue", Arial, sans-serif;
	font-weight: 700;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

table tr td {
	font-size: 12px;
	border: 1px solid #dddddd;
	text-align: center;
	padding: 3px;
	align-items: center;
	text-align: center;
}

table th {
	font-size: 14px;
	border: 1px solid #dddddd;
	text-align: center;
	align-items: center;
	text-align: center;
}

table th span{
	padding-bottom: 15px;
}

table tbody:hover{
	background-color: #babdb6 !important;
}

table tbody:nth-child(even) {
	background-color: #d3d7cf;
}

.verticalTableHeader {
	text-align: center;
	white-space: nowrap;
	transform-origin: 50% 50%;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(270deg);
	width: 10px;
	font-size: 12px;
	margin: auto;
}

.verticalTableHeader:before {
	content: '';
	padding-top: 110%;
	/* takes width as reference, + 10% for faking some extra padding */
	display: inline-block;
	vertical-align: middle;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	padding: 10px;
	font-weight: normal;
	padding-top: 30px;
}

/* Links inside the dropdown */
.dropdown-content span {
	color: black;
	padding: 3px 16px;
	text-decoration: none;
	display: block;
	font-size: 13px;
	font-weight: 700;
}

/* Change color of dropdown links on hover */
.dropdown-content span:hover {
	background-color: #A6A9A2;
	color: white;
	cursor: pointer;
}

/* Show the dropdown menu on hover */
.dropdown-content-show {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}

.dropbtn {
	width: 10px;
}

div.dropdown-disable-div{
	pointer-events: none;	
}

.dropdown-content .close-dropdown{
	float: right;
}

.dropdown button{
	padding: 0px;
   	width: 18px;
}

.dropdown-btn img{
	float: none;
}

.dropdown-btn:hover{
	cursor: pointer;
}

input[type=text], input[type=password], select {
	width: 70%;
	padding: 6px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
		"Helvetica Neue", Arial, sans-serif;
}

input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 18px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	border-radius: 150px;
}

input[type=submit]:hover {
	background-color: #45a049;
}

input[type=button] {
	background-color: #78bb38;
	color: white;
	padding: 10px 16px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=button]:hover {
	background-color: #45a049;
}

.inputError {
	border: 1px solid red !important;
}

textarea {
	resize: none;
	width: 70%;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
		"Helvetica Neue", Arial, sans-serif;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

select.inputError {
	border: 1px solid red;
}

.errorMsg, .clientErrorMsg {
	color: red;
	font-size: 12px;
	font-weight: normal;
}

.successMsg{
	font-family: Arial,Helvetica,sans-serif;
}

.saveSuccess {
	background-color: #73d216;
	color: white;
	font-size: 16px;
	padding: 6px 9px;
	border-radius: 100px;
	text-align: center;
}

legend {
	font-size: 24px;
	font-weight: 400;
	font-family: sans-serif;
	line-height: 1.5;
}

input[type=text].inputNumber, #datePicker {
	text-align: center;
}

.editBtn {
	background-color: #2ea44f !important;
	color: #fff !important;
    border-color: rgba(27,31,35,.15) !important;
    box-shadow: 0 1px 0 rgba(27,31,35,.1), inset 0 1px 0 hsla(0,0%,100%,.03) !important;
    float: right;
}

.saveBtn {
	background-color: #2ea44f !important;
	color: #fff !important;
    border-color: rgba(27,31,35,.15) !important;
    box-shadow: 0 1px 0 rgba(27,31,35,.1), inset 0 1px 0 hsla(0,0%,100%,.03) !important;
    float: right;
}

.editBtn:hover, .saveBtn:hover{
	background-color: #1b8c3a !important;
}

div.gallery img{
	width: 100px;
    height: 100px;
    border: 1px solid #d2d2d2;
    margin: 10px;
}

div.gallery{
	max-width: 450px;
}

.jqte{
	margin: 0px !important;
}

.myHeader tr th{
	top: 0;
   position: sticky;
}

.myHeader2 tr th{
	top: 20px;
   	position: sticky;
   	padding-top: 50px;
}

thead tr th{
	background-color: #ffffff;
	padding-bottom: 15px;
}

input.date {
   	font-size: 12px;
   	width: 120px;
}
	
.fold-content table thead tr th{
	background-color: #000000;
	padding: 3px !important;
}

span.ui-icon.ui-icon-caret-1-s {
    height: 0px;
}